body {
    font-family: 'Pretendard'; color: var(--maintxt); word-break: keep-all;
}
li {
    list-style: none;
}
a {
    text-decoration: none; color: var(--maintxt);
}
img{display: block; width: 100%;}

header {
    background-color: var(--white01); display: flex; justify-content: space-between; padding: 0 6.25%; box-sizing: border-box;
    align-items: center; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); position: fixed; top: 0; left: 0; width: 100%; z-index: 999;
}
header h1{
    width: 100%; max-width: 155px;
}
header h1 a{
    display: block;
}
header h1 a img{
    width: 100%;
}
header nav{
    width: 100%; text-align: center; line-height: 80px;
}
header ul li > ol {
    display: none;
}
header ul li > a {
    font-weight: 400; font-size: 16px; display: block;
}
header a:hover:not(.loginBtn) {
    color: var(--ss06);
}
header ul li:not(:first-of-type){
    margin-left: 3.75%;
}
header ul > li {
    display: inline-block; position: relative;
}
header span {
    display: block; width: 100%; max-width: 100px;
}
header span ul li a{
    font-size: 16px; font-weight: 400; color: var(--maintxt); background: url(..img/icon/person.png) no-repeat left; background-size: 15px; padding-left: 22px;
}
header span ul li a::after{
    content: ''; display: inline-block; background: url(..img/icon/global.png) no-repeat; background-size: 100%; width: 16px;
    height: 16px; vertical-align: middle; margin-left: 10px;
}

footer{
    background-color: var(--bs02); color: var(--white01); padding: 100px 6.25%;
}
footer::after{
    content: ''; display: block; clear: both;
}
footer > div{
    float: left;
}
footer > div:first-of-type{
    width: 32.38%;
}
footer h1{
    margin-bottom: 35px;
}
footer h1 a img{
    max-width: 210px; width: 100%;
}
footer > div:first-of-type ul:first-of-type{
    margin-bottom: 10px;
}
footer > div:first-of-type ul:first-of-type li{
    font-size: 13px; font-weight: 300; line-height: 20px; color: var(--grey03);
}
footer > div:first-of-type > ul:first-of-type li:nth-of-type(2):after,
footer > div:first-of-type > ul:first-of-type li:nth-of-type(3):after,
footer > div:first-of-type > ul:first-of-type li:nth-of-type(5):after{
    content: '|'; display: inline-block; margin: 0 5px 0 10px;
}
footer > div:first-of-type ul:first-of-type li:not(:last-of-type){
    margin-bottom: 5px;
}
footer > div:first-of-type ul:first-of-type li:not(:first-of-type){
    display: inline-block;
}
footer > div:first-of-type ol{
    margin-bottom: 25px;
}
footer > div:first-of-type ol li{
    font-size: 12px; font-weight: 400; line-height: 20px; color: var(--white01); display: inline-block; cursor: pointer;
}
footer > div:first-of-type ol li:not(:first-of-type){
    margin-left: 10px;
}
footer > div:first-of-type ol li:nth-of-type(2){
    color: var(--gs01);
}
footer > div:first-of-type ul:last-of-type li{
    display: inline-block;
}
footer > div:first-of-type ul:last-of-type li:last-of-type{
    vertical-align: super;
}
footer > div:first-of-type ul:last-of-type li:not(:first-of-type){
    margin-left: 20px;
}
footer > div:first-of-type ul:last-of-type li img{
    width: 100%; max-height: 25px;
}
footer > div:last-of-type{
    width: 57.738%; margin-left: 9.837%;
}
footer > div:last-of-type ul{
    display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 30px;
}
footer > div:last-of-type ul > li span{
    font-size: 18px; line-height: 28px; font-weight: 600; margin-bottom: 20px; display: block;
}
footer > div:last-of-type ul > li ol li a{
    font-size: 15px; line-height: 18px; font-weight: 400; color: #bebebe; margin-bottom: 15px; display: block; transition: 0.5s;
}
footer > div:last-of-type ul > li ol li a:hover{
    color: var(--white01); transition: 0.2s;
}
footer > div:last-of-type .moreBtn02{   
    color: var(--white01); font-size: 12px; line-height: 15px; font-weight: 400; transition: 0.5s;
}
footer > div:last-of-type .moreBtn02:after{
    transition: 0.5s; content: ""; width: 14px; height: 15px; display: inline-block; background: url(..img/icon/arrow_wh.png) no-repeat;
    background-size: 100%; vertical-align: middle; opacity: 0;
}
footer > div:last-of-type .moreBtn02:hover::after{
    margin-left: 5px; opacity: 1; transition: 0.5s;
}