:root {
    --ss05 : #2A97DB;
    --ss06 : #3FB4FD;
    --ss10 : #EBF7FE;
    --bs02 : #16326C;
    --bs04 : #3E63B0;
    --bs10 : #F2F6FE;
    --gs01 : #70C72D;
    --maintxt : #333;
    --subtxt : #666;
    --sub02txt : #999;
    --grey01 : #bebebe;
    --grey02 : #DFDFDF;
    --grey03 : #E7E7E7;
    --white01 : #fff;
    --bg01 : #f9f9f9;
    
    --pop : 'Poppins';
  }